.tourm{
    font-weight: bold;
    font-size: 37px;
    margin-left: 20px;
    text-align: center;
    color: #6AACC2;
}
.box{
    width: 100%;
    
}
.tr2m{
    margin-left: 24px;
    margin-top: 15px;
    color: #6AACC2;
    text-align: center;
}